/**************/
/* font family */
/* font size */
/* Gradient color { you can add, remove & change color here }  */
/* Gradient color { you can add, remove & change color here }  */
/* color used in text and little overlay */
/* time of button or hover anitmation */
/* make text transform dynamic */
/** Variables folder **/
/* just by add function and enter parameters you have a prefixe of brawser */
/** mixins folder **/
/**************/
/**************/
body {
    font-family: 'Raleway', sans-serif !important;
    cursor: context-menu;
    overflow-x: hidden;
    background: #eee;
}

.backFace {
  position: relative;
  width: 100%;
  height: 100vh; 
  background: #295197;
  }
.backFace .overlay {
  background: -webkit-linear-gradient(#1e3c72, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.3));
  background: -moz-linear-gradient(#1e3c72, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(#1e3c72, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.3));
  background: linear-gradient(#1e3c72, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.3));
}
.backFace .overlay .portfolio {
  height: 100vh;
  display: flex;
  align-items: center; }
.backFace .overlay .portfolio .row h6 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-family: "Roboto", sans-serif;
  line-height: 2.5;
  margin-bottom: 0;
  width: 100%;
  text-transform: capitalize; }
.backFace .overlay .portfolio .row h1 {
  color: #fff;
  width: 100%;
  font-weight: bold;
  line-height: 1.5;
  font-size: 46px;
  font-family: "Righteous", sans-serif;
  margin-bottom: 0;
  letter-spacing: 3px;
  word-spacing: 3px;
  text-transform: uppercase;
}
.backFace .overlay .portfolio .row h1::after{
    content: "\f0e7";
    font-family: "Font Awesome 5 Solid";
    display: none;
}
.backFace .overlay .portfolio .row .mx-auto button {
  border: 0;
  padding: 10px 40px;
  border-radius: 35px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.5s;
  margin: 10px 20px;
  border: 2px solid #fff;
}


.backFace .overlay .portfolio .row .mx-auto button:first-of-type {
  background: #fff;
  color: #000; }
.backFace .overlay .portfolio .row .mx-auto button:last-of-type {
  background: transparent;
  color: #fff; }
.backFace .overlay .portfolio .row .mx-auto button:first-of-type:hover {
  background: #fff;
  color: #000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}


.cutom-down{
    font-size: 60px;
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.5);
}

.cutom-down-two{
    font-size: 60px;
    margin-top: 1em;
    color: #264a8b;
}
.cutom-down-three{
    font-size: 60px;
    margin: 8px auto;
    color: #264a8b;
}

.cutom-down:hover,
.cutom-down-three:hover{
    color: #ccc;
    animation: spinning 1.5s;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.down-arrow{
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0 auto;
}

.up-arrow{
    text-align: right;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
.holder{
height: 50vh;
}

/** header design folder **/
/* index.html design */
/*
*******************************
*******************************
*****  START DEMO SECTION  ****
*******************************
*******************************
*/
.demoSec {
    padding: 7%;
}
.demoSec .demo h5{
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}
.demoSec .demo .mx-auto {
  width: 150px;
    height: 250px;
}
.demoSec .demo .mx-auto button {
  text-transform: uppercase;
  background: #000;
  border: 2px solid #000;
  padding: 5px 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0;
  width: inherit;
  cursor: pointer;
  transition: 0.4s;
}
.demoSec .demo .mx-auto button:hover {
  background: transparent;
  color: #2a5298;
  border: 2px solid #2a5298; }

/*
*******************************
*******************************
*****  END DEMO SECTION   *****
*******************************
*******************************
*/
/**************************************************************/
/*
*******************************
*******************************
*****  START BUY SECTION  *****
*******************************
*******************************
*/
.buySec {
    padding: 7%;
    background: linear-gradient(rgba(52, 79, 127, 0.6),rgba(33, 63, 114, 0.8),rgba(30, 60, 114, 1));
    height: 100%;
}
.buySec h5 {
  color: #ffffffcc;
}
.buySec .h1 {
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.5;
  font-family: "Righteous", sans-serif;
  text-transform: uppercase; }
.buySec .mx-auto {
  width: 200px; }
.buySec .mx-auto button {
  border-radius: 35px;
  padding: 13px;
  background: #000;
  border: 0;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 0px 8px #000;
  cursor: pointer;
  letter-spacing: 2px;
  width: inherit;
  border: 2px solid #000;
  transition: 0.4s;
  text-transform: uppercase; }
.buySec .mx-auto button:hover {
  box-shadow: 0px 0px 10px #000;
  color: #000;
  background: #fff; }

/*
*******************************
*******************************
*****   END BUY SECTION   *****
*******************************
*******************************
*/
/**************************************************************/
/*
*******************************
*******************************
*****    START FOOTER     *****
*******************************
*******************************
*/
/* THIS FOOTER JUST FOR INDEX.HTML */
footer {
      background-color: #ddd; }
footer h4 {
  color: #666; }
footer h5 {
    line-height: 3;
    color: #f89d7a;
    font-size: 16px;
    letter-spacing: 2px;
    background: #265472;
    font-weight: 900;
}

/*
*******************************
*******************************
*****     END FOOTER      *****
*******************************
*******************************
*/
/*
** CLASS OR TAG REPEAT M0RE THAN ONCE
*/
h2, .h1 {
  color: #111;
  font-weight: 900;
  word-spacing: 3px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif; }

.mx-auto button {
  width: inherit; }
.mx-auto button a {
  text-decoration: none;
  color: inherit; }

/*
** CLASS OR TAG REPEAT M0RE THAN ONCE
*/
@media (max-width: 768px) {
  .backFace {
    height: 400px; }
  .backFace .overlay .portfolio {
    height: 350px; }
  .backFace .overlay .portfolio .row h1 {
    font-size: 24px !important; }
  .backFace .overlay .portfolio .row h6 {
    font-size: 12px !important; }
  .backFace .overlay .portfolio .row .mx-auto button {
    font-size: 12px !important;
      border: 1px solid !important;}
    
.navbar_theme_section {
    position: relative;
    top: -15px !important;
    bottom: 30px;
}
    
    .theme_content {padding: 0px;}
    }

  /**************************************************************/
  .demo h5 {
    font-size: 16px; }

  /**************************************************************/
  .buySec {
    margin-top: 10%;
    padding: 6%; }
  .buySec .h1 {
    font-size: 26px; }
  .buySec .mx-auto {
    width: 160px; }
  .buySec .mx-auto button {
    font-size: 12px;
    padding: 10px; }

  /**************************************************************/


  /**************************************************************/
  h2 {
    font-size: 24px; }

  .mx-auto:not(.row .mx-auto) {
    width: 150px; }
  .mx-auto:not(.row .mx-auto) button {
    font-size: 12px;
    padding: 10px; } }
@media (max-width: 584px) {
  .backFace {
    height: 300px; }
  .backFace .overlay .portfolio {
    height: 250px; }
  .backFace .overlay .portfolio .row h1 {
    font-size: 20px !important; }
  .backFace .overlay .portfolio .row h6 {
    font-size: 10px !important; }
  .backFace .overlay .portfolio .row .mx-auto button {
    font-size: 8px !important;
    border: 1px solid !important;
    padding: 5px 17px;
    margin: 10px 15px; }

  /**************************************************************/
  .demoSec {
    margin-top: 7%;
    }
  .demoSec .demo h5 {
    font-size: 14px; }
  .demoSec .demo .mx-auto {
    width: 100px; }
  .demoSec .demo .mx-auto button {
    padding: 5px 20px;
    width: inherit;
    font-size: 10px; }

  /**************************************************************/
  .buySec {
    margin-top: 10%;
    padding: 6%; }
  .buySec h5 {
    font-size: 10px; }
  .buySec .h1 {
    font-size: 16px; }
  .buySec .mx-auto {
    width: 100px; }
  .buySec .mx-auto button {
    font-size: 8px;
    padding: 10px; }

  /**************************************************************/
  h2 {
    font-size: 18px; } }
/** body design folder **/
/** footer design folder **/
/**************/

/*# sourceMappingURL=main.css.map */


.navbar_section {
    overflow: hidden;
    background-color: #eee;
    padding: 2vh;
    border-bottom: 1px solid rgba(37, 74, 139, 0.5);
}

.navbar-brand{
    float: left;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background:rgba(30, 60, 114, 0.9);
    z-index: 2;
    padding: 2vh;
}
.sticky a{
    color: #ddd !important;
}

.img-gallery{
    width: 300px;
}

.demo-info{
    width: 100%;
    margin: 0 auto;
}

.demo-head{
    line-height: 2em;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    color: #284f93;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

.pick_arrow{
    position: relative;
    top: 18px;
    transform: rotate(-90deg);
    transition: all .5s ease-in;
    font-size: 35px;
}

.pick_arrow:hover{
    transform: rotate(0deg);
}

.demo-info p{
    letter-spacing: 2px;
    transition: all .3s ease-in;
    color: #284f93;
    margin: 5vh;
    text-align: center; 
}




 

/* Style tabs */

.main-tabs{
    height: 475px;
    width: 90%;
    margin: auto;
    text-align: center;
    background: linear-gradient(to right ,rgba(31, 62, 118, 7), rgba(31, 62, 118,0.4));
    border-bottom: 1px solid rgba(38, 75, 140, 0.5);
    box-shadow: 1px -1px 7px 1px #aaa;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

ul.tabs{
    background: #eee;
    margin: auto;
    padding: 0px;
    list-style: none;
    margin-bottom: 0px;
    border-left: 1px solid rgba(38, 75, 140, 0.5);
    border-right: 1px solid rgba(38, 75, 140, 0.5);
}
ul.tabs li{
    background: none;
    color: #21427c;
    display: inline-block;
    padding: 15px 15px;
    cursor: pointer;
    width: 20%;
    height: 81px;
    line-height: 3em;
    transition: all .5s ease-out;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 1px;
}

ul.tabs li:hover {
    background: rgba(31, 62, 118, 0.1);
    color: #000;
}

ul.tabs li.current{
    color: #21427c;
    background: #ddd;
}

.tab-content{
    display: none;
    padding: 21px;
    color: rgba(38, 75, 140, 0.8);
    position: relative;
    top: 7vh;
    font-size: 25px;
    letter-spacing: 1px;
    background: #eee;
}

.tab-content.current{
    display: inherit;
}

/* tabs media */

@media only screen and (max-width: 900px) {
  
  ul.tabs li{
    width: auto;
  }
    .main-tabs{
        height: 500px;
    }
}

@media only screen and (max-width: 600px) {
  ul.tabs li{
    width: 41.5%;
    margin: auto;
  }
    
    .main-tabs{
        width: 100%;
        height: 500px;
    }
  
  .tab-content{
    font-size: 16px;
    line-height: 2em;
    letter-spacing:1px
  }
}

.i-tab{
    font-size: 28px;
    margin-right: 14px;
}

.tab-head{
    padding: 25px;
    color: #ccc;
    font-family: "Righteous", sans-serif;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.51);
    letter-spacing: 2px;
}

.tags{
    background: #fff;
    margin-left: 14px;
    margin-right: 14px;
    color: #999;
}

.t-icons{
    line-height: 1.5em;
    margin-right: 5px;
}
.hold-post-type{
    position: relative;
    padding: 12px;
}
.img-custom{
    height: 100%;
}
.overlay-thumbnail{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 93%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 140, 186, 0.5);
    margin: auto;
}

.overlay-thumbnail:hover{
    opacity: .8 !important;
}
.entry-content{    
    position: absolute;
    top: 85%;
    left: 50%;
}


.entry-content p{
    font-size: 32px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    bottom: 79px;
    letter-spacing: 7px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 900;
}

/* Cloud */

hr.style-five {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.down-middle-arrow{
    float: right;
    position: relative;
    bottom: 58px;
    list-style: none;
    margin: 0 auto;
}

.custom-middle-down{
    color: rgba(33, 66, 124, 0.51);
        font-size: 60px;
}

/* contact us */
/* from codepen
https://codepen.io/DexOne/pen/gKJGXr?editors=1100
*/
#contact {
	background:#eee;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
    background: linear-gradient(to right ,rgba(31, 62, 118, .7), rgba(0, 0, 0, 0.1));
    margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 17%;
    border: none;
    background: none;
    color: #5f749b;
    padding: 10px;
    font-size: 19px;
    margin: auto;
    float: right;
}

#contact button[type="submit"]:hover {
    color: rgba(0, 0, 0, 0.8);
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#ddd;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
/* Single-Product */
.custom_field{
    width: 100%;
    display: inline-flex;
    text-align: center;
    padding: 9px;
    color: #fff;
    border-top: 1px solid #fff;
    padding: 30px;
}
.dollar{
    color: #888;
    font-size: 16px
}
.custom_btn{
    transition: all .2s ease-out;
    color: #fff;
    font-size: 40px;
}

.custom_btn:hover{
    margin-top: 7px;
}

.skills{
    margin: 8px;
    position: relative;
    top: 18px;
}

.skills:hover{
    color: rgb(255, 144, 100);
}
/* Custom header for custom post type */

.themepage{
    position: relative;
}

.overlay {
    background: linear-gradient(to left, rgba(13, 64, 97, 0.9), rgba(30, 60, 114, 0.7), rgba(13, 64, 97, 0.9) );
}

.over-lay {
    transition: all .5s ease-out;
}

.over-lay:hover {
    background: linear-gradient(to left, rgba(238, 238, 238, 0.5), rgba(249, 125, 78, 0.5), rgba(238, 238, 238, 0.5) );
    padding: 15px;
}
.theme_header{
    text-transform: uppercase;
    text-align: center;
}

.theme_info{

}
.theme_head{
    font-size: 60px;
    padding-top: 25px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.theme_description{
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.navbar_theme_section{
    position: relative;
    top: 65%;
}

.custom_nav{
}

.custom_nav ul li{
    list-style: none;
    background: rgba(0, 0, 0, 0.05);
    padding: 9px;
    width: 100%;
    border-left: 1px solid #ddd;
}

.custom_nav ul li:hover {
    background: rgba(255, 105, 46, 0.5);
}
.custom_nav .theme_link{
    color: #ddd;
    text-transform: none;
} 

.navbar_theme_nav{
    display: contents;
}

/* Single Theme Page */

.details{
    height: auto;
    background: rgb(38, 84, 114);
    box-shadow: 0px 0px 5px 0px #000;
}   

.theme_details{
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 30px
}
.post-thumbnail{
    background: rgba(51, 51, 51, 0.5);
    margin: 12px;
    text-align: center;
}
.post-thumbnail img{
    width: 75%;
    margin: auto;
    height: auto;
}

.blog-single{
    background: #ddd;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    color: #666;
}

h3.col-md-6{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -o-max-content;
    width: max-content;
    margin: 9px;
    border-bottom: 1px solid transparent;
}

h3.col-md-6:hover{
    color: #ff692e;
}


/* breadcrumb */

.breadcrumbs{
    list-style:none;
    margin:25px 0;
    overflow:hidden;
}
  
.breadcrumbs a{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
  
.field_head{
    color: #265472;
    width: 100% !important;
}

.theme_title {
    color: #265472;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.custom_span{
    color: #265472;
    transition: all .3s ease-out;
}
.custom_span:hover{
    margin-left: 5px;
}
.custom_download{
    color: #265472;
    transition: all .3s ease-out;
}
.custom_download:hover{
    margin-top: 3px;
}

.aligncenter{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.theme_content{
    background: rgb(38, 84, 114);
    padding: 13px;
    color: #eee;
}

.main_row{
    margin: auto;
}

.entry_content{
    background: rgba(51, 51, 51, 0.5);
    padding: 30px;
    width: 98%;
    margin: auto;
    color: #ccc;
}

.content_title{
    width: 100%;
    padding: 17px;
}

.content_title h2{
    color: #d48265;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #d48265;
    padding-bottom: 20px;
    margin: 9px auto;
    font-size: 35px;
}

.content_thumbnail{
    padding: 15px;
}

.site_title:hover{
    color: rgba(255, 105, 46, 0.7);
}


.mobile_bars{
    color: #ccc;
    float: left;
    margin-left: 9px;
}

.navbar-light .navbar-toggler{
    border: none !important;
    margin-top: 9px;
    width: 100%;
    background: rgba(38, 84, 114, 0.51);
    outline: 0px;
}


/* comments */
.comments-area{
    background: rgb(38, 84, 114);
    padding-top: 5%;
    width: 80%;
    margin: 5% auto;
}

.comments-title{
    background: rgba(51, 51, 51, 0.5);
    padding: 13px;
    color: #f97d4e;
    margin-bottom: 50px;
    text-align: center;
}

.comment-list{
    list-style: none;
    width: 90%;
    margin: auto;
    color: #ccc;
}

.comment{
    background: #ddd;
    color: #444
}

.comment-content{
    text-align: center;
    font-size: 35px;
    padding: 8px;
    background: #ccc;
}
.comment-content p{
    color: rgba(38, 84, 114, 0.9);
    font-weight: 600;
    letter-spacing: 1px;
}

.reply{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 17px;
}

.comment-reply-link{
    color: #265472;
    border: 1px solid rgba(38, 84, 114, 0.5);
    padding: 7px;
    width: 20px;
    transition: all .2s ease-in;
}

a.comment-reply-link:hover {
    background: rgba(38, 84, 114, 0.5);
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
}
.url{
    color: #f97d4e;
}

.comment-author{
    text-transform: uppercase;
}

.comment-author img{
    padding: 8px;
    background: #eee;
    border-radius: 8px;
}

.says{
    text-transform: none;
}

.comment-metadata{
    background: #ccc;
    border-bottom: 2px solid #265472;
    padding: 9px;
}

.comment-metadata a{
    color: #265472;
    margin-left: 9px;
    margin-right: 9px;
    opacity: 0.8;
    transition: all .2s ease-in;
    letter-spacing: 2px;
}

.comment-edit-link{
    color: #265472;
    border: 1px solid rgba(38, 84, 114, 0.5);
    padding: 2px;
    width: 20px;
}

a.comment-edit-link:hover {
    background: rgba(38, 84, 114, 0.5);
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
}

.children{
    list-style: none;
    width: 80%;
    margin: auto;
}

.comment-reply-title{
    color: #f97d4e;
    text-align: center;
    padding: 21px;
}

.comment-form{
    text-align: center;
}
.logged-in-as{
    background: #ddd;
}

.comment-form-comment{
    background: #ddd;
    padding: 21px;
}

label{
    display: block;
    color: #f97d4e;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: -1px 1px 8px rgba(0, 0, 0, 0.5);
    width: 50%;
    text-align: left;
    margin: 3px auto;
}

.submit{
    border: none;
    padding: 7px;
    margin: 25px;
    background: #ddd;
    cursor: pointer;
    transition: all .3s ease-out;
    color: #265472;
    border-radius: 5px;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.49);
}

.submit:hover{
    background: rgba(255, 152, 113, 0.89);
    color: #265472;
}

textarea {
    overflow: auto;
    resize: vertical;
    background: #eee;
    resize: none;
    height: 150px;
    color: #f97d4e;
    font-size: 25px;
    width: 50%;
    text-align: center;
}

.comment-notes{
    color: #eee;
    font-size: 19px;
    text-align: center;
    width: 50%;
    margin: auto;
    background: rgba(249, 125, 78, 0.5);
    border-top: .1px solid #ccc;
    padding: 5px;
    box-shadow: 1px -1px 7px 0px #153042;
}

.comment-notes span{
    display: block;
}

.required{
    font-size: 42px;
    border-top: 1px solid #964535;
    margin-top: 9px;
}

.comment-awaiting-moderation{
    color: #f97d4e;
    text-shadow: 2px 2px 9px rgba(38, 84, 114, 0.5);
    padding-left: 11px;
    padding-top: 11px;
}

.comment-form-author input,
.comment-form-email input{
    color: #265472;
    font-weight: 900;
    letter-spacing: 1px;
}

.related-posts{
    padding: 31px;
    background: #ccc;
    margin-top: 21px;
}
.single-related-title{
    line-height: 2.5em;
    margin-bottom: 21px;
    background: #f97d4e;
    color: #cccccc;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.post-title {
    text-align: center;
    margin-top: 13px;
}

.post-title a{
    color: #fff;
    text-shadow: -2px 2px 7px #777;
    font-weight: 700;
    letter-spacing: 2px;
}